/* Coloque o CSS neste arquivo */
/* font-family: 'Montserrat', sans-serif; */
body{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    min-width: 520px;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.sub-title{
    font-size: 1.5em;
    font-family: 'Montserrat SemiBold', sans-serif;
    margin: 40px !important;  
    text-transform: uppercase;  
}
.txt-white{
    color: #fff !important;
    margin-bottom: 15px !important;
}
.title-product,.price,.special-price, .sub-title, .descount-price{
    color: #7f7f7f;
    text-align: center;
    margin: 0 10px;
}
.price{
    font-size: 1em;
    font-family: 'Montserrat Medium', sans-serif;  
    margin: 8px 0;  
}
.title-product,.special-price{
    font-size: 1em;
    font-family: 'Montserrat Light', sans-serif;    
}
.special-price{
    font-size: 0.7em;
}
.descount-price{
    font-size: 0.7em;
    font-family: 'Montserrat Light', sans-serif;    
    text-decoration: line-through;    
}
.title-product{
    margin-top: 15px;
}
header{
    width: 100vw;
    height: 165px;
    /* flex: 1 1 1170px; */
    /* background-color: #f6f7d9; */
    display: inline-flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}
header .topnav{
    width: 1170px;   /*  Arrumar no breakpoint */
    display: inline-flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 20px 30px;
}
.logo-txt{
    display: none;
}
.icons-topnav{
    width: 30px;
    max-height: 25px;
}
header .topnav .search{
    border: solid 1px #7f7f7f;
    width: 198px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .topnav .search .search-img{
    width: 15px;
    margin: 0 0 0 5px;
}
header .topnav .search .search-bar{
    color: #1f1f1f;
}
header .topnav .logo{
    transform: translateX(-25%);
}
header .topnav .user-options{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .topnav .user-options .cart{
    display: flex;
    align-items: center;
}
header .topnav .user-options .cart .cart-icon{

}
header .topnav .user-options .cart .number-cart{
    background-color: #ffa200;
    color: #fff;
    font-size: 0.6em;
    padding: 0.6em;
    border-radius: 54%;
    position: relative;
    top: -10px;
    right: 10px;
}
header .menu{
    /* justify-self: self-end !important; */
    width: 100vw;
    background-color: #8158c5;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .menu .menu-nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    line-height: 50px;
    max-width: 1170px !important;
    min-width: 1024px;
}
header .menu .menu-nav .item-nav{
    padding: 0 50px;
    cursor: pointer;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;          /* Para que não seja selecionado o texto acidentalmente na hora de navegar */
}
header .menu .menu-nav .item-nav:hover{
    background-color: #ffa200;
    color: #8158c5;
}
main{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
main #top-main{
    background-color: #ffa200;
    height: 636px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .slider{
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .slider .controllers-slider{
    position: relative;
    width: 1170px;
    z-index: 2;
    top: -280px;
}
main .slider .controllers-slider .icon-slider-next{
    position: absolute;
    width: 50px;
    padding: 10px;
    right: 0;
    cursor: pointer;
}
main .slider .controllers-slider .icon-slider-previous{
    position: absolute; 
    width: 50px;
    padding: 10px;
    left: 0;
    cursor: pointer;
}
main .slider .slider-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main .categories{
    height: 136px;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .categories .cat-img{
    width: 378px;
    height: 100px;
    object-fit: cover;
}
main #content-main .products-carousel {
    display: flex;
    flex-flow: row wrap;
    max-width: 1170px;
    min-width: 1024px;
    margin: 0 auto 55px auto;
}
main #content-main .products-carousel .product{
    flex: 1 1 252px;
    display: flex;
    flex-flow: column wrap;
    margin: 10px;
    background-color: #fff;
    padding: 10px;
}
main #content-main .product > img{
    max-width: 100%;
    display: block;
}
main .middle-banners {
    display: flex;
    max-width: 1170px;
    min-width: 1024px;
    margin: 55px 0;

}
main .middle-banners .banner{
    flex: 1 1 250px;
}
main #promo-content{
    background-color: #8158c5;
    width: 100vw;
    color: #fff;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
main #promo-content .promos-fixed{
    display: flex;
    flex-flow: row wrap;
    min-width: 1024px;
    max-width: 1170px;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    border-bottom: 2px solid #ffa200;
}
main #promo-content .promos-fixed .promo{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    font-size: 0.7em;
}
main #promo-content .promos-fixed .promo > .promo-txt, .promo-icon{
    margin: 25px 10px;
    box-sizing: border-box;
}
@media only screen and (max-width: 520px) {

}
@media only screen and (min-width: 520px) {


}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 1024px) {

}
@media only screen and (min-width: 1170px) {

}